<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TastyTap Administrador</title>
</head>
<body>
    <!--Navbar del administrador menu-->
    <aside class="sidebar">
        <nav class="sidebar__nav">
            <h2>TastyTap Admin</h2>
            <div class="sidebar__list">
                <div class="sidebar__item">
                    <a href="#PanelControl" class="sidebar__link">
                        <span class="sidebar__icon">📊</span>
                        <span class="sidebar__text">Panel de Control</span>
                    </a>
                </div>
                <h4>GESTIÓN PRINCIPAL</h4>
                <div class="sidebar__item">
                    <a href="#Usuarios" class="sidebar__link">
                        <span class="sidebar__icon">📊</span>
                        <span class="sidebar__text">Usuarios</span>
                    </a>
                </div>
            </div>
        </nav>
    </aside>
</body>
</html>     


<!-- <nav class="sidebar__nav">
    <a href="panelControl.html" class="active">Panel de Control | Administrador</a>
    <a href="/TastyTap/views/Admininstrador/GestionUsuarios.html">Usuarios</a>
    <a href="/TastyTap/views/Admininstrador/GestionCatalogo.html">Productos / Catalogo</a>
    <a href="/TastyTap/views/Admininstrador/GestionInventario.html">Inventario</a>
    <a href="/TastyTap/views/Admininstrador/GestionVentas.html">Ventas</a>
    <a href="/TastyTap/views/Admininstrador/GestionGastos.html">Gastos</a>
    <a href="/TastyTap/views/Admininstrador/ReportesBalance.html">Balance</a>
    <a href="/TastyTap/views/Admininstrador/ReportesConfigu.html">Configuración</a>
    <a href="/TastyTap/views/Admininstrador/ReportesNotifi.html">Notificaciones</a>
    <a href="/TastyTap/views/Admininstrador/ReportesExportar.html">Exportar Datos</a>
</nav> -->